// Versioning
DYLIB_CURRENT_VERSION = 0.0.1   // Release number
DYLIB_COMPATIBILITY_VERSION = $(DYLIB_CURRENT_VERSION)
CURRENT_PROJECT_VERSION = 1     // Build number

// Swift
SWIFT_VERSION = 4.0

// User-Generated
BUNDLE_SIGNATURE = MSDC
KARABINER_NAME = Karabiner
KARABINER_ID = me.dehesa.karabiner
