// Architecture
SDKROOT = macosx

// Deployment
MACOSX_DEPLOYMENT_TARGET = 10.14.4

// Packaging
INFOPLIST_FILE = $(SRCROOT)/Configuration/macOS/macOS.plist
PRODUCT_NAME = $(KARABINER_NAME)Tests
PRODUCT_BUNDLE_IDENTIFIER = $(KARABINER_ID).sdk.tests

// Swift Compiler - General
//SWIFT_OBJC_BRIDGING_HEADER = Tests/relayrTestsBridge.h

